Importing dependies

In [1]:
import numpy as np
import pandas as pd

Importing datasets

In [2]:
merged_dataset1=pd.read_csv('merged_dataset1.csv')
imdb_movies=pd.read_csv('imdb_movies.csv')

In [3]:
merged_dataset1.shape

(115358, 5)

In [4]:
imdb_movies.shape

(10178, 12)

In [5]:
merged_dataset1.head()

,movie_name,runtime,director,star,votes
0,Black Panther: Wakanda Forever,161 min,Ryan Coogler,Letitia Wright,204835.0
1,Avatar: The Way of Water,192 min,James Cameron,Sam Worthington,295119.0
2,Plane,107 min,Jean-François Richet,Gerard Butler,26220.0
3,Everything Everywhere All at Once,139 min,"Dan Kwan, \nDaniel Scheinert",Michelle Yeoh,327858.0
4,Ant-Man and the Wasp: Quantumania,125 min,Peyton Reed,Paul Rudd,5396.0

In [6]:
imdb_movies.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

Merging the datatset on the basis of movies names

In [7]:
merged_final_dataset = imdb_movies.merge(merged_dataset1, left_on='names', right_on='movie_name', how='inner')

In [8]:
merged_final_dataset.drop('movie_name', axis=1, inplace=True)

In [9]:
merged_final_dataset.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,runtime,director,star,votes
0,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,192 min,James Cameron,Sam Worthington,295119.0
1,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,88 min,Juan Jesús García Galocha,Óscar Barberán,749.0
2,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,149 min,Jordan Wilson,Jordan Wilson,6.0
3,Puss in Boots: The Last Wish,12/26/2022,83.0,"Animation, Family, Fantasy, Adventure, Comedy",Puss in Boots discovers that his passion for a...,"Antonio Banderas, Puss in Boots (voice), Salma...",Puss in Boots: The Last Wish,Released,English,90000000.0,4.834806e+08,AU,102 min,"Joel Crawford, \nJanuel Mercado",Antonio Banderas,75016.0
4,Attack on Titan,09/30/2022,59.0,"Action, Science Fiction","As viable water is depleted on Earth, a missio...","Paul Bianchi, Computer (voice), Erin Coker, Al...",Attack on Titan,Released,English,71000000.0,2.549465e+08,US,91 min,Noah Luke,Michael Paré,56.0

In [10]:
merged_final_dataset.shape

(7241, 16)

In [11]:
merged_final_dataset.to_csv('../dataset3/merged_dataset2.csv', index=False)