In [53]:
import numpy as np
import pandas as pd

In [54]:
dataframe_tmdb=pd.read_csv('TMDB_movie_dataset_v11.csv')

In [55]:
dataframe_tmdb.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [56]:
dataframe_tmdb.shape

(1052039, 24)

In [57]:
features_dataframe=dataframe_tmdb[['title','backdrop_path','poster_path','tagline']]

In [58]:
features_dataframe.head()

,title,backdrop_path,poster_path,tagline
0,Inception,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.
1,Interstellar,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...
2,The Dark Knight,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.
3,Avatar,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.
4,The Avengers,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.

In [59]:
features_dataframe.isnull().sum()

title                12
backdrop_path    762277
poster_path      306672
tagline          901872
dtype: int64

In [60]:
features_dataframe.dropna(subset=['title'])
features_dataframe.dropna(subset=['poster_path'])
features_dataframe.dropna(subset=['tagline'])

,title,backdrop_path,poster_path,tagline
0,Inception,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.
1,Interstellar,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...
2,The Dark Knight,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.
3,Avatar,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.
4,The Avengers,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.
...,...,...,...,...
1051997,Shotgun Freeway,/a6RsovA5WKR2YUVpXxf8OYTPvn5.jpg,/6w45WtPFVLdexEMFwQzbsTha9WF.jpg,Drives through Lost L.A.
1051998,Brother Complex,/4QWVhpy9EfiEf91PbrfYVlZiG7n.jpg,/tbLIN86YHT7rAbh1f72zMvxnvcM.jpg,That summer they fell into bad love-
1052022,I Stay Home,/5ms00JmjVEmN9E9wwlhVyqaxuro.jpg,/9bGCn7JP2mQcRHU2JCaMoUJCgQH.jpg,Diary of a quarantine
1052024,Please Make Me Lesbian! 19,/5cnLbNS3e5AHtwEXVdNxX8dBkXu.jpg,/zDbOK5qFeUMpN3GCq6GRcyOesmz.jpg,"Girls Who Beg Pretty Please, With Sugar On Top"
1052030,Secrets of Titty F*cking,NaN,/bC8SmBxR58t6ydJmwq7IQ87zbaz.jpg,A 4-Hr. Genuine Vivid Jugfest!

In [61]:
merged_dataset3=pd.read_csv('merged_dataset3.csv')

In [62]:
merged_dataset3.shape

(5868, 18)

In [63]:
merged_dataset3.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,runtime,director,star,votes,UserRating,PlotKyeword
0,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,192 min,James Cameron,Sam Worthington,295119.0,0,"['sequel', 'second part', 'disney', 'science f..."
1,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,149 min,Jordan Wilson,Jordan Wilson,6.0,0,[]
2,Puss in Boots: The Last Wish,12/26/2022,83.0,"Animation, Family, Fantasy, Adventure, Comedy",Puss in Boots discovers that his passion for a...,"Antonio Banderas, Puss in Boots (voice), Salma...",Puss in Boots: The Last Wish,Released,English,90000000.0,4.834806e+08,AU,102 min,"Joel Crawford, \nJanuel Mercado",Antonio Banderas,75016.0,0,"['shared universe', 'sequel', 'second part', '..."
3,Attack on Titan,09/30/2022,59.0,"Action, Science Fiction","As viable water is depleted on Earth, a missio...","Paul Bianchi, Computer (voice), Erin Coker, Al...",Attack on Titan,Released,English,71000000.0,2.549465e+08,US,91 min,Noah Luke,Michael Paré,56.0,0,"['live action remake of anime', 'survival', 'k..."
4,The Exorcist,11/02/2022,55.0,Horror,"Ophelia, a young nun recently arriving in the ...","María Evoli, Ofelia, Diana Bracho, , Tina Rome...",La Exorcista,Released,"Spanish, Castilian",12000000.0,4.282145e+08,MX,122 min,William Friedkin,Ellen Burstyn,414031.0,395K,"['exorcist', 'exorcism', 'demonic possession',..."

In [64]:
merged_final_dataset_result = merged_dataset3.merge(features_dataframe, left_on='names', right_on='title', how='inner')

In [65]:
merged_final_dataset_result.duplicated(subset=['title']).sum()

22177

In [66]:
merged_final_dataset_result.drop_duplicates(subset=['title'], keep='first', inplace=True)

In [67]:
merged_final_dataset_result.shape

(5367, 22)

In [68]:
merged_final_dataset_result.drop(columns='title',axis=0)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,...,country,runtime,director,star,votes,UserRating,PlotKyeword,backdrop_path,poster_path,tagline
0,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,...,AU,192 min,James Cameron,Sam Worthington,295119.0,0,"['sequel', 'second part', 'disney', 'science f...",/8rpDcsfLJypbO6vREc0547VKqEv.jpg,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,Return to Pandora.
1,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,...,US,149 min,Jordan Wilson,Jordan Wilson,6.0,0,[],/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg,/gbGHezV6yrhua0KfAgwrknSOiIY.jpg,The chase is on.
4,Puss in Boots: The Last Wish,12/26/2022,83.0,"Animation, Family, Fantasy, Adventure, Comedy",Puss in Boots discovers that his passion for a...,"Antonio Banderas, Puss in Boots (voice), Salma...",Puss in Boots: The Last Wish,Released,English,90000000.0,...,AU,102 min,"Joel Crawford, \nJanuel Mercado",Antonio Banderas,75016.0,0,"['shared universe', 'sequel', 'second part', '...",/b1Y8SUb12gPHCSSSNlbX4nB3IKy.jpg,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,Live each adventure like it's your last.
5,Attack on Titan,09/30/2022,59.0,"Action, Science Fiction","As viable water is depleted on Earth, a missio...","Paul Bianchi, Computer (voice), Erin Coker, Al...",Attack on Titan,Released,English,71000000.0,...,US,91 min,Noah Luke,Michael Paré,56.0,0,"['live action remake of anime', 'survival', 'k...",/qRik98bxXPn4qCHTe3ffhbGFRAu.jpg,/ihuDg9TeRzoOhv2cZVA8gi50NFl.jpg,The face of humanity's extinction.
7,The Exorcist,11/02/2022,55.0,Horror,"Ophelia, a young nun recently arriving in the ...","María Evoli, Ofelia, Diana Bracho, , Tina Rome...",La Exorcista,Released,"Spanish, Castilian",12000000.0,...,MX,122 min,William Friedkin,Ellen Burstyn,414031.0,395K,"['exorcist', 'exorcism', 'demonic possession',...",/huC0x1don81NMreSGx4ITkrv9aG.jpg,/4ucLGcXVVSVnsfkGtbLY4XAius8.jpg,Something almost beyond comprehension is happe...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27537,The Seven Deadly Sins: Prisoners of the Sky,08/18/2018,76.0,"Action, Adventure, Fantasy, Animation","Traveling in search of the rare ingredient, “s...","Yuki Kaji, Meliodas (voice), Sora Amamiya, Eli...",劇場版 七つの大罪 天空の囚われ人,Released,Japanese,62600000.0,...,JP,99 min,"Yasuto Nishikata, \nNoriyuki Abe",Yûki Kaji,5025.0,4.8K,"['based on manga', 'based on anime']",/e6CnfsN7wnhZEMqh5EnCfTDXQ7g.jpg,/63NOOAkaZAK8h93Sg7Ucq6XLJGP.jpg,NaN
27538,The Lady Vanishes,10/07/1938,75.0,"Mystery, Thriller, Comedy",On a train headed for England a group of trave...,"Margaret Lockwood, Iris Matilda Henderson, Mic...",The Lady Vanishes,Released,English,132000000.0,...,GB,95 min,Anthony Page,Elliott Gould,2836.0,2.7K,"['disappearance', ""questioning one's sanity"", ...",/exVKV32K0wGNXRL5kpqSfGs4InV.jpg,/c1t9LB76LvEARPanfEzXmkm7fwY.jpg,Spies! Playing the game of love - and sudden d...
27541,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,...,US,111 min,Aaron Norris,Chuck Norris,7695.0,7.5K,"['martial arts', 'kung fu', 'cult film', 'resc...",/7JeFewm9SU2ISqg4qzRBoaimLva.jpg,/39UjuuaH2Gms6E7c8QWF7BdYSn8.jpg,Norris and the force are back
27542,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,...,US,123 min,Fred Schepisi,Sean Connery,16624.0,16K,"['kgb agent', 'east west', 'soviet citizen', '...",/vPdb3zCAS4nxdRkc5S2hp1zh4pQ.jpg,/yKSW5346x1rBi2h9EbWAbyi4jks.jpg,Their love was as dangerous as the secrets the...
27543,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,...,GB,83 min,Richard Rich,Nina Herzog,115.0,104,"['love', 'swan lake', 'swan princess', 'based ...",/12oPPNSAKabqcwCd8CJSYL0A6p5.jpg,/mJaNBADFKRiMys8DiGemrLGYd9U.jpg,NaN

In [69]:
merged_final_dataset_result['movie_id'] = range(1, len(merged_final_dataset_result) + 1)

In [70]:
merged_final_dataset_result.to_csv('../dataset5/merged_dataset4.csv', index=False)